<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luitmed.prashantimedicos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrashantiMedicos">
        <activity android:name="com.luitmed.prashantimedicos.PrescriptionDetails" />
        <activity android:name="com.luitmed.prashantimedicos.Prescriptions" />
        <activity android:name="com.luitmed.prashantimedicos.SearchActivity" />
        <activity android:name="com.luitmed.prashantimedicos.Categories" />
        <activity android:name="com.luitmed.prashantimedicos.UploadPrescription" />
        <activity android:name="com.luitmed.prashantimedicos.Payment" />
        <activity android:name="com.luitmed.prashantimedicos.OrderDetails" />
        <activity android:name="com.luitmed.prashantimedicos.MyOrders" />
        <activity android:name="com.luitmed.prashantimedicos.Products" />
        <activity android:name="com.luitmed.prashantimedicos.UserAccount" />
        <activity android:name="com.luitmed.prashantimedicos.OrderConfirmation" />
        <activity android:name="com.luitmed.prashantimedicos.Verification" />
        <activity android:name="com.luitmed.prashantimedicos.AddAddress" />
        <activity android:name="com.luitmed.prashantimedicos.Addresses" />
        <activity
            android:name="com.luitmed.prashantimedicos.Register"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.luitmed.prashantimedicos.Cart" />
        <activity android:name="com.luitmed.prashantimedicos.ProductDetails" />
        <activity
            android:name="com.luitmed.prashantimedicos.Dashboard"
            android:theme="@style/SplashScreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="com.luitmed.prashantimedicos.Services.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>